# Pandas

In [2]:
import pandas as pd

In [3]:
# pip install pandas

In [4]:
df = pd.read_csv("annual-enterprise-survey-2024-financial-year-provisional.csv")  # Read a CSV file into a DataFrame

In [5]:
df.head()  # Display the first few rows of the DataFrame

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2024,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,979594,ANZSIC06 divisions A-S (excluding classes K633...
1,2024,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,838626,ANZSIC06 divisions A-S (excluding classes K633...
2,2024,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,112188,ANZSIC06 divisions A-S (excluding classes K633...
3,2024,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,28781,ANZSIC06 divisions A-S (excluding classes K633...
4,2024,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,856960,ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
df.describe()  # Get a statistical summary of the DataFrame

               Year
count  55620.000000
mean    2018.500000
std        3.452084
min     2013.000000
25%     2015.750000
50%     2018.500000
75%     2021.250000
max     2024.000000

In [7]:
df.tail()  # Display the last few rows of the DataFrame

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
55615,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55616,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55617,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55618,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
55619,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [8]:
type(df)  # Check the type of the object

pandas.core.frame.DataFrame

In [9]:
df.columns  # Get the column names of the DataFrame

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [10]:
list(df.columns)  # Convert the column names to a list

['Year',
 'Industry_aggregation_NZSIOC',
 'Industry_code_NZSIOC',
 'Industry_name_NZSIOC',
 'Units',
 'Variable_code',
 'Variable_name',
 'Variable_category',
 'Value',
 'Industry_code_ANZSIC06']

In [11]:
df['Industry_name_NZSIOC']  # Access a specific column in the DataFrame

0                    All industries
1                    All industries
2                    All industries
3                    All industries
4                    All industries
                    ...
55615    Food product manufacturing
55616    Food product manufacturing
55617    Food product manufacturing
55618    Food product manufacturing
55619    Food product manufacturing
Name: Industry_name_NZSIOC, Length: 55620, dtype: object

In [12]:
type(df['Industry_name_NZSIOC'])  # Check the type of the column accessed

pandas.core.series.Series

In [13]:
list(df['Industry_name_NZSIOC'].head())  # Convert the column to a list

['All industries',
 'All industries',
 'All industries',
 'All industries',
 'All industries']

In [14]:
df[['Industry_name_NZSIOC']].head()  # Access multiple columns in the DataFrame

  Industry_name_NZSIOC
0       All industries
1       All industries
2       All industries
3       All industries
4       All industries

In [15]:
type(df[['Industry_name_NZSIOC']])  # Check the type of the DataFrame with a single column

pandas.core.frame.DataFrame

In [16]:
df.columns  # Get the column names of the DataFrame

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [17]:
df[['Industry_name_NZSIOC', 'Units']].head()  # Access multiple columns in the DataFrame

  Industry_name_NZSIOC               Units
0       All industries  Dollars (millions)
1       All industries  Dollars (millions)
2       All industries  Dollars (millions)
3       All industries  Dollars (millions)
4       All industries  Dollars (millions)

In [18]:
df.dtypes  # Get the data types of the columns in the DataFrame

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [19]:
url_data = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015.html")

In [20]:
type(url_data)  # Check the type of the object returned by read_html

list

In [21]:
df1 = url_data[0]  # Access the first table from the list of DataFrames

In [22]:
df1

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87

In [23]:
df2 = url_data[1]  # Access the second table from the list of DataFrames

In [24]:
df2

,Western Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division,Northwest Division
1,Portland Trail Blazers*,51,31,.622,—,102.8,98.6,4.41
2,Oklahoma City Thunder,45,37,.549,6.0,104.0,101.8,2.47
3,Utah Jazz,38,44,.463,13.0,95.1,94.9,0.71
4,Denver Nuggets,30,52,.366,21.0,101.5,105.0,-3.07
5,Minnesota Timberwolves,16,66,.195,35.0,97.8,106.5,-8.00
6,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division
7,Golden State Warriors*,67,15,.817,—,110.0,99.9,10.01
8,Los Angeles Clippers*,56,26,.683,11.0,106.7,100.1,6.80
9,Phoenix Suns,39,43,.476,28.0,102.4,103.3,-0.38
10,Sacramento Kings,29,53,.354,38.0,101.3,105.0,-3.07
11,Los Angeles Lakers,21,61,.256,46.0,98.5,105.3,-6.17
12,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division,Southwest Division
13,Houston Rockets*,56,26,.683,—,103.9,100.5,3.82
14,Memphis Grizzlies*,55,27,.671,1.0,98.3,95.1,3.62
15,San Antonio Spurs*,55,27,.671,1.0,103.2,97.0,6.34
16,Dallas Mavericks*,50,32,.610,6.0,105.2,102.3,3.36
17,New Orleans Pelicans*,45,37,.549,11.0,99.4,98.6,1.13

In [25]:
url_data[3]

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Utah Jazz,82,240.3,35.8,80.3,0.446,7.4,20.4,0.362,...,0.744,9.9,29.3,39.2,19.4,8.2,4.7,13.1,19.6,94.9
1,2.0,Memphis Grizzlies*,82,242.7,36.0,81.5,0.442,8.1,23.0,0.351,...,0.742,10.5,31.9,42.4,20.1,7.4,5.2,15.3,20.3,95.1
2,3.0,San Antonio Spurs*,82,243.4,37.1,83.7,0.444,6.8,18.9,0.360,...,0.745,9.9,32.2,42.1,20.7,7.9,4.4,14.2,19.7,97.0
3,4.0,Indiana Pacers,82,242.1,36.0,82.7,0.435,7.2,20.9,0.345,...,0.753,9.8,33.0,42.7,19.9,7.5,4.7,12.7,21.4,97.0
4,5.0,Atlanta Hawks*,82,240.6,36.5,83.1,0.439,8.8,25.8,0.341,...,0.764,11.6,32.1,43.6,23.5,7.4,4.9,16.1,19.6,97.1
5,6.0,Charlotte Hornets,82,242.7,36.8,83.7,0.440,7.9,22.1,0.357,...,0.772,8.9,35.2,44.1,22.1,6.1,5.4,12.6,20.8,97.3
6,7.0,Miami Heat,82,240.6,36.1,79.5,0.454,8.1,23.0,0.353,...,0.730,10.9,30.1,41.0,21.3,7.9,4.4,14.8,20.9,97.3
7,8.0,Milwaukee Bucks*,82,243.0,35.6,81.5,0.437,8.2,24.1,0.342,...,0.742,11.4,31.4,42.9,22.3,8.6,4.8,17.4,20.1,97.4
8,9.0,Washington Wizards*,82,243.4,36.2,83.5,0.433,8.0,23.0,0.349,...,0.738,10.0,31.7,41.7,19.9,8.0,4.3,14.0,19.6,97.8
9,10.0,Chicago Bulls*,82,242.4,37.7,86.7,0.435,6.6,19.6,0.335,...,0.749,11.7,31.7,43.4,20.2,7.5,5.4,12.2,21.2,97.8
10,11.0,New Orleans Pelicans*,82,241.2,37.9,83.1,0.456,6.5,19.6,0.335,...,0.759,10.6,30.9,41.5,20.7,6.8,5.8,12.2,18.7,98.6
11,12.0,Portland Trail Blazers*,82,242.1,38.2,86.9,0.439,6.4,18.9,0.338,...,0.758,11.0,33.6,44.6,20.4,8.0,3.6,12.2,18.7,98.6
12,13.0,Cleveland Cavaliers*,82,241.2,38.1,83.5,0.456,7.7,22.5,0.343,...,0.745,10.8,30.3,41.1,24.1,7.8,4.5,13.3,20.5,98.7
13,14.0,Detroit Pistons,82,241.8,37.9,83.1,0.456,7.7,21.8,0.355,...,0.772,10.7,33.4,44.1,23.8,7.0,4.8,14.0,19.3,99.5
14,15.0,Golden State Warriors*,82,240.6,37.0,86.4,0.428,7.2,21.4,0.337,...,0.763,11.7,32.8,44.5,21.0,8.3,3.6,16.2,18.8,99.9
15,16.0,Los Angeles Clippers*,82,240.6,36.4,82.3,0.442,8.3,23.9,0.349,...,0.741,10.6,32.3,42.9,23.2,6.7,3.0,14.3,21.5,100.1
16,17.0,Houston Rockets*,82,241.5,37.7,85.2,0.443,7.4,22.9,0.322,...,0.751,11.9,32.0,43.8,21.4,8.9,5.3,16.4,21.1,100.5
17,18.0,Brooklyn Nets*,82,243.0,38.4,84.3,0.456,8.5,23.7,0.358,...,0.731,11.4,32.9,44.3,23.7,7.8,4.5,13.9,20.0,100.9
18,19.0,Toronto Raptors*,82,242.1,38.0,82.8,0.459,7.7,22.3,0.346,...,0.733,11.2,31.2,42.5,22.8,6.9,5.0,14.4,20.3,100.9
19,20.0,Philadelphia 76ers,82,241.5,37.1,82.7,0.449,8.0,22.9,0.350,...,0.756,11.5,34.8,46.3,23.7,9.5,5.5,16.8,20.2,101.0
20,21.0,Boston Celtics*,82,242.4,38.1,84.7,0.450,7.4,22.0,0.336,...,0.755,10.9,33.8,44.7,21.9,7.1,5.3,15.1,18.8,101.2
21,22.0,New York Knicks,82,242.1,37.0,80.4,0.460,8.5,22.3,0.380,...,0.759,11.0,32.5,43.5,21.7,8.0,4.3,14.1,19.1,101.2
22,23.0,Orlando Magic,82,240.9,38.0,82.0,0.463,8.3,22.6,0.368,...,0.751,10.1,33.4,43.5,23.4,7.7,5.4,14.5,17.9,101.4
23,24.0,Oklahoma City Thunder,82,241.8,37.6,85.5,0.440,8.3,24.2,0.343,...,0.745,11.2,31.5,42.7,22.1,7.8,4.6,13.6,20.4,101.8
24,25.0,Dallas Mavericks*,82,242.4,38.0,84.5,0.450,9.0,24.8,0.364,...,0.753,12.3,33.9,46.1,22.3,7.3,3.8,16.3,22.1,102.3
25,26.0,Phoenix Suns,82,242.4,38.4,85.0,0.452,7.7,21.9,0.352,...,0.759,11.6,33.7,45.3,21.1,7.9,4.1,15.6,20.3,103.3
26,27.0,Sacramento Kings,82,242.1,39.5,86.5,0.456,8.8,25.1,0.349,...,0.748,11.0,30.2,41.2,23.3,8.7,6.2,12.9,23.9,105.0
27,28.0,Denver Nuggets,82,242.4,38.6,84.3,0.458,7.7,22.2,0.346,...,0.748,11.0,34.1,45.1,23.1,7.5,6.1,14.4,20.7,105.0
28,29.0,Los Angeles Lakers,82,243.0,38.8,83.1,0.466,8.5,23.4,0.363,...,0.745,10.0,34.1,44.2,24.0,7.5,4.8,13.0,19.4,105.3
29,30.0,Minnesota Timberwolves,82,241.5,41.1,84.5,0.487,8.5,23.1,0.367,...,0.759,11.6,31.9,43.6,23.6,8.4,5.5,15.2,21.4,106.5
30,NaN,League Average,82,242.0,37.5,83.6,0.449,7.8,22.4,0.350,...,0.750,10.9,32.4,43.3,22.0,7.7,4.8,14.4,20.2,100.0

In [26]:
df1.to_csv("Players_2015.csv")  # Save the first DataFrame to an Excel file

In [27]:
df1.to_excel("Players_2015.xlsx",index=False)  # Save the first DataFrame to an Excel file

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
pip install openpyxl  # Install the openpyxl library to handle Excel files

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [ ]:
!pip install openpyxl  # Install the openpyxl library to handle Excel files

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^